<div style="padding: 50px;">
  <form>
    <div class="mb-3">
      <label for="query" class="form-label">Tìm kiếm</label>
      <input class="form-control" id="query" name="q" focus />
      <div id="emailHelp" class="form-text">We'll never share your email with
        anyone else.</div>
    </div>
    <button type="submit">Timf kiem</button>
  </form>
</div>